<!DOCTYPE html>
<html>
  <head>
      <% include head %> 
  </head>
  <body>
      <% include menu %>
      <div style='width: 100%' align='center'>
          <form method="post" action="/editconf/<%= confdetail._id %>" name="editconf">
            <p>
                <label>Nom Conférence:</label><br>
                <input type="text" name="nomConf" value="<%= confdetail.nom %>">
            </p>
            <p>
                <label>date début:</label><br>
                <input type="date" name="dateDeb" value="<%= confdetail.date_debut %>">
              </p>
              <p>
                <label>heure début:</label><br>
                <input type="datetime" name="heureDeb" value="<%= confdetail.heure_debut %>">
              </p>
              <p>
                <label>heure fin:</label><br>
                <input type="datetime" name="heureFin" value="<%= confdetail.heure_fin %>">
              </p>
              <p>
                <label>lieu:</label><br>
                <input type="text" name="lieu" value="<%= confdetail.lieu %>">
              </p>
            <p>
              <input type="submit" value="Enregister">
            </p>
          </form>
      </div>
      <div align='center'><a href="/conflist">Liste des conférences</a></div>
  </body>
  <% include script %>
</html>
